<html>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>driveNation</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicon -->
    <link href="../assets/img/car-icon.png" rel="icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> <!--potrebno za carrousel-->
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!-- Vendor JS Files -->
<script src="./assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="./assets/vendor/aos/aos.js"></script>
<script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="./assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="./assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="./assets/vendor/php-email-form/validate.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!-- Template Main JS File -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./assets/js/highcharts.js"></script>
<script src="./assets/js/main.js"></script>
<script src="assets/js/customer-service.js"></script>

<script src="./assets/js/jQuerySPApp.js"></script>
<script src="./assets/css/jQuerySPApp.css"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
    ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
    <script src="./assets/js/jquery.spapp.js"></script>
    <script src="./assets/js/custom.js"></script>
    <script src="./assets/js/intro.js"></script>
    <script src="../assets/js/customer-service.js"></script>
    <script src="./assets/js/utils.js"></script>
    <script src="./assets/js/rest-client.js"></script>
    <script src="./config.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./assets/js/jQuerySPApp.js"></script>
    <script src="./assets/js/AppRoutes.js"></script>




<link href="../assets/css/style.css" rel="stylesheet">   

<body>




<!-- ======= Part with title and subtitle ======= -->

<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8">
          <h1 class="hero-heading">Explore the nation & drive with pride<span>.</span></h1>
          <h2 class="hero-subheading">Make your travel unforgettable</h2>
        </div>
      </div>
    </div>
  </section>
  
<!-- End of  Part with  title and subtitle  -->

<main id="main">

<!-- ======= Bio Section ======= -->
<section id="bio" class="bio">
  <div class="container">

    <div class="section-title">
      <p >Bio</p>
      <h2>Get to know us</h2>
    </div>


    <div class="row align-items-center"> <!--this allign both text and picture-->
      <div class="col-lg-6 order-1 order-lg-2 text-lg-end">
        <img src="./assets/img/clients/happycustomers.jpg"  alt="Happy employee and customers">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <h4><b>Welcome to driveNation, where customer satisfaction is our #1 priority.</b></h4>
        <p class="fst-italic">
          We pride ourselves on our attention to detail, commitment to safety, and dedication to customer satisfaction. So why choose us?
        </p>
        <ul>
          <li> Reputation built on dedication and hard work.</li>
          <li> Countless satisfied customers demonstrate our trustworthiness.</li>
          <li>Years of experience to find the most suitable solution for your needs.</li>
        </ul>
        <p allign = "justify-content-lg-between">
          Personalized attention and top-notch service for every client is our moto. 
          Our employees are always available to answer your questions and find the perfect rental solution. 
        </p>
        <p><b>Let's make your next rental a success.</b> </p>
      </div>
    </div>

  </div>
</section>
<!-- End Bio Section -->

 <!-- ======= Partners Section ======= -->
 <section id="clients" class="clients">
  <div class="container">

    <div class="section-title">
      <p >Our partners</p>
    </div>

<div class="clients-slider swiper">
  <div class="swiper-wrapper align-items-center">
    <div class="swiper-slide"><img src="./assets/img/clients/Land_Rover.svg.png"  class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="./assets/img/clients/volvo.png"class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="./assets/img/clients/hyndai-removebg-preview.png"class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="./assets/img/clients/BMW.png" style="width:116px;height:70px;" class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="./assets/img/clients/toyota.png" class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="./assets/img/clients/SKODA.png" class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="./assets/img/clients/kia.png" style="width: 350px;height:100px;"  class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="./assets/img/citroen.png"  class="img-fluid" alt="citroen"></div>
  </div>
  <br>
  <div class="swiper-pagination"></div>
</div>

</div>
</section><!-- End Clients Section -->


<!-- ======= HighChart Section ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="section-title">
      <p >Popularity</p>
      <h2>See our yearly increase in customers</h2>
    </div>

    <figure class="highcharts-figure">
      <div id="container"></div>
      
  </figure>


<div class="section-title">
      <p >Feedback</p>
      <h2>Comments of satisfied customers</h2>
    </div>
   
  </div></div>
  
</section><!-- End Highcharts Section -->


<!-- ======= Testimonials Section ======= -->

<section id="testimonials" class="testimonials">
  <div class="container">

    <div class="testimonials-slider swiper">
      <div class="swiper-wrapper" id="comments-swiper"></div>

        <div class="swiper-pagination"></div>

       

  </div>
</section>
<!-- End Testimonials Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <p>Contact </p>
      <h2>Contact Us</h2>
    </div>

    <div>
      <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3464440.206604677!2d19.337019008921608!3d44.6763937549128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758cbb1ed719bd1%3A0x562ecda6de87b33e!2sSarajevo!5e0!3m2!1shr!2sba!4v1683577983251!5m2!1shr!2sba" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container">
      <div class="row mt-5"> <!-- First row -->
        <div class="col-lg-4"> <!-- Info column -->
          <div class="info">
            <div class="phone">
              <i class="bi bi-geo-fill"></i>
              <h4>Locations:</h4>
              <p>Halilovici 13, Sarajevo, 71000</p>
            </div>
            <div class="email">
              <i class="bi bi-envelope-at-fill"></i>
              <h4>Email:</h4>
              <p>MD Sarajevo: mds@info.ba</p>
            </div>
            <div class="phone">
              <i class="bi bi-telephone-fill"></i>
              <h4>Call:</h4>
              <p>MD Sarajevo: +38761547895</p>
            </div>
          </div>
        </div>
    
        <div class="col-lg-8 mt-5 mt-lg-0"> <!-- Form column -->
          <form action="./rest/mail.php" method="post" role="form" class="php-email-form">
            <!-- Form fields and buttons here --> 
            <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="body" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div id = "success-message" class="sent-message"></div>
        </div>
        <div class="text-center"><button type="submit" name="submit">Send Message</button></div>
          </form>
        </div>
      </div>
    </div>

</section>
    

<!-- End Contact Section -->



<script>



CustomerService.checkToken();

CustomerService.getComments();

highChart.chartTable();







</script> 


</body>




</html>