<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Skoda</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

    <!-- Favicon -->
    <link href="../assets/img/car-icon.png" rel="icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> <!--potrebno za carrousel-->
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
    ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
    <script src="assets/js/jquery.spapp.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/intro.js"></script>
    <script src="assets/js/utils.js"></script>
    <script src="assets/js/rest-client.js"></script>
    <script src="config.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="assets/js/jQuerySPApp.js"></script>
    



<link href="assets/css/style.css" rel="stylesheet"> 
 

</head>

<body>
  

  <!-- End Header -->

  <section>
    <div class="sedandetail">
      <h1>SEDAN</h1>
    </div>
    
  </section>

  <section id="vw7detail"> 
    <div class="cardetails">
      <div class="img rounded d-flex align-items-end" style="background-image: url(./slikeAuta/oktavia.jpeg);">
      </div>
    </div>

    <div id="vw7name"></div>

            
      <div class="vw7description">

      <h1><li><span>Price:</span> <div id="pricevw"></div> </li>
        <li><span>Age:</span> <div id="agevw"></div>  </li>
        <li><span>Milage:</span> <div id="milagevw"></div> </li>
        <li><span>Fuel:</span> <div id="fueltypevw"></div>  </li>
        <li><span>Fuel Usage:</span> <div id="consumptionvw"></div>  </li>
        <li><span>Gearbox:</span> <div id="gearboxvw"></div>  </li>
        <li><span>Max passengers:</span> <div id="passengersvw"></div>  </li></h1>  
        

      </div>

</section>





 

  
  <div class="contentheight6">
    <div class="hatchbacReviewsHeading">
      <h1>REVIEWS</h1>
    </div>

    <div class="sedanreviewsContainer">
    </div>
    <div class="hatchbackreviewsContainerText">
    <h1><div id="Clientnamevw"></div></h1>
      </div>
    <div class="hatchbackReviewsClientContainer">
      <h1><div id="testemonialtextvw"></div></h1>
    </div>
    </div>



<div class="contentheight8">

  <div class="MinivanPaymentDetailsHeading">
  <h1>ENTER YOUR PAYMENT DETAILS</h1>
</div>

<div class="MinivanPaymentInfoContainer">
  <div class="MinivanPaymentLogo">
  </div>
  <h1>Payment Info</h1>
  <form id="paymentForm">
    <h2>Full Name</h2>
    <div class="MinivanPaymentInfoNameContainer">
      <input type="text" id="name" placeholder="Enter your name" required>
    </div>
    <h3>Credit Card Number</h3>
    <div class="MinivanPaymentInfoCardContainer">
      <input type="text" id="cardNumber" placeholder="1234 1234 1234 1234" required>
    </div>
    <h4>Exp Date</h4>
    <div class="MinivanPaymentExpDateCardContainer">
      <input type="text" id="expiryDate" placeholder="MM/YY" maxlength="5" required>
    </div>
    <h5>CVV</h5>
    <div class="MinivanPaymentCVVCardContainer">
      <input type="password" id="cvv" placeholder="CVV" maxlength="3" required>
    </div>
    <h6>Zip Code</h6>
    <div class="MinivanPaymentZipCodeCardContainer">
      <input type="text" id="zipCode" placeholder="71250" maxlength="5" required>
    </div>
    <button class="MinivanPaymentButton" id = "#reservation" type="submit"><h1>CONFIRM PAYMENT</h1></button>
  </form>
</div>
</div>

<script src="assets/js/car-info.js"></script>


<script>


CarService.processPayment();

CarService.showToast();

CarService.getCarInfo(2);

CarService.getReview(2);


  
  </script>
  </body>
  </html>

        

   

    
    
      